.in_game
{
    position:absolute;
    transition: .9s ease;
    resize: none;
    top: 70%;
    left: 2%;
    height: 30%;
    width: 45%;
    z-index: 2;
    background: rgba(121, 138, 113, 0);
    border: none;
}
.arrow_keys
{
    position:absolute;
    transition: .9s ease;
    top: 10%;
    left: 3%;
    height: 80%;
    width: 25%;
}
.controls
{
    background: transparent;
    resize: none;
    border: none;
    font-size: 1.1em;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    position:absolute;
    transition: .5s ease;
    top: 5%;
    left: 5%;
    width: 25%;
    height: 18%;
}
.quote
{
    background: transparent;
    text-align: left;
    border: none;
    resize: none;
    font-size: 1.1em;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    position:absolute;
    transition: .5s ease;
    top: 5%;
    left: 40%;
    width: 60%;
    height: 18%;
}
.quote_body
{
    background: rgba(0, 138, 113, 0.35);
    border: none;
    border-left: 6px solid red;
    font-style: italic;
    font-size: 1.05em;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    position:absolute;
    transition: .5s ease;
    top: 25%;
    left: 40%;
    width: 60%;
}